node_modules/
.env
npm-debug.log
*.log
dist/
.DS_Store

# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

#AWS
infra/terraform/aws/
infra/terraform/awscliv2.zip

# Terraform local plan files
infra/terraform/tfplan
*.tfplan